header
  h1.logo Typow Media
  
  nav
    ul
      li: a(href="#welcome") Welcome
      li: a(href="#portfolio") Portfolio
      li: a(href="#about") About
      li: a(href="#testimonials") Testimonials
      li: a(href="#get-involved") Get Involved
      li: a(href="#contact") Contact
